<%- include("partials/header")%>
<%- include("partials/nav")%>
<h1>Forget password</h1>
<!--  -->
<form action="/send-mail" method="post">
    <input type="email" name="email" placeholder="email" >
    <button>Send mail </button>
    <br>
</form>

<!--  -->
<%- include("partials/footer")%>