<%- include("partials/header")%>
<%- include("partials/nav")%>

<form action="/signin" method="post">
    <input type="text" name="username" placeholder="Username"> 
    <input type="password" name="password" placeholder="************">
    <a href="/forget">forget buttton</a>
    <button>Submit</button>
    
</form>

<%- include("partials/footer")%>

