<%- include("partials/header")%>
<%- include("partials/nav")%>
<h1>Reset Password</h1>
<form action="/reset" method="post">
    <input type="password" name="oldpassword" placeholder="Old Password">
    <input type="password" name="newpassword" placeholder="New Password">
    <button>Reset Password</button>
</form>
<%- include("partials/footer")%>

